# PyCharm files 
.idea/
__pycache__/
*.pyc
.DS_Store

# Folders
data/
viva_recordings/
dist_data/
data_analysis/new_risk_homogeneous/
data_analysis/new_risk_angled/
plotting\.py
Potential seeds\.txt

# Files
test.py
*.gif
*.mp4

# Andrew
aaa\.npy
ddd\.py
data_analysis/one_run_data/



