# PyCharm files 
.idea/
__pycache__/
*.pyc
.DS_Store
test.py

# Folders
data/
viva_recordings/
dist_data/
data_analysis/new_risk_homogeneous/
data_analysis/new_risk_angled/
plotting\.py

ddd\.py

data_analysis/one_run_data/
