# PyCharm files 
.idea/
__pycache__/
*.pyc
.DS_Store
test.py

# Folders
data/
viva_recordings/
dist_data/
data_analysis/new_risk_homogeneous/
data_analysis/new_risk_angled/
plotting\.py

ddd\.py

data_analysis/one_run_data/


af_time_data_25_0050_0410_False_10000_283924f4ac25c83f\.npy

af_time_data_25_0050_0450_False_10000_42aa0b2c3a18d43f\.npy

af_time_data_25_0070_0450_False_10000_20dde158da979b3f\.npy

af_time_data_25_0090_0500_False_10000_cc712b7a343ad53f\.npy

af_time_data_25_0940_0060_False_10000_c61f71d7ae5ed63f\.npy

aaa\.npy

af_time_data_25_0090_0500_False_10000_2aa07eaa1d64d13f\.npy

*.gif

*.mp4
